.Rproj.user
.Rhistory
.RData

*.pdf
*.tex
*.snm
*.nav

*.rda
*.rds
*.aux
*.log
*chunk*
*data-cache*
text/cache/*
*.bbl
*.blg
*.fdb_latexmk
*.fls
text/gf-synopsis.tex
*.toc
*.upa
*.out
*.lof
*.docx
*.o
*.so
*cache*
*.*~
